/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 50px auto;
    text-align: center;
}

li {
    margin-bottom: 20px;
}

a {
    display: block;
    padding: 20px;
    background-color: #007bff; /* リンクの背景色 */
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3; /* ホバー時の背景色 */
}
